extends layout

block main-content 
    h1.contact__h1 Contact us 
    p.contact__p We'd love to hear from you!
    p.contact__p Whether you have a question, feedback, or simply want to share your bead-inspired creations, we're here to listen. Our dedicated customer support team is ready to assist you and provide prompt responses to any inquiries you may have.
    p.contact__p Feel free to reach out to us using the contact form below, and we'll get back to you as soon as possible. We value your input and look forward to connecting with fellow bead enthusiasts and passionate creators like yourself.
    form(method="post", action="/contact/submit", class="contact__form")
        div 
            label(for="fullname") Name: 
            input(id="fullname", name="fullname", type="text")
        div
            label(for="email") Email: 
            input(id="email", name="email", type="text")
        div 
            label(for="message") Message: 
            input(id="message", name="message", type="text")
        button(type="submit") Send!