extends layout

block main-content 
  div.intro
    h1 Welcome to our Beads World!
    p At Beads World, we believe that every bead tells a story, and we are here to help you unleash your creativity and bring your vision to life. Whether you're a seasoned jewelry designer, a passionate crafter, or someone looking to explore the art of beadwork, you've come to the right place.
    a(href="/product", class="intro__button") Shop Now!
    img(src="/img/IMG_2399.jpg")
    
  