@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
/*--General--*/
body{
    background-color: white;
    font-family: 'Irish Grover', cursive;
    margin:0;
}
img {
    max-width:100%;
    height:auto;
}
/*--Banner & Nav--*/
#sitename{
    background-image: url("../img/IMG_2399.jpg");
    background-repeat: no-repeat;
    background-position: top;
    margin:0;
    padding:1em 2em 1em 1em;
    font-size:4em;
    color:white;
    
}
#sitename a{
    text-decoration:none;
    color:rgb(255, 212, 120);
    font-size: 5rem;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    
}

#sitename a:hover {
    color:rgb(118, 188, 197);
}

#sitename a:active{
    color:rgb(63, 87, 90);
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 2em;
    gap: 1.68rem;
    margin: 0;
    padding:0;
    background-color: rgb(118, 188, 197);
    position:relative;
}
.menu a{
    text-decoration:none;
    color: white;
}
.menu a:hover{
    color:rgb(63, 87, 90);
}


/*--Main Page(index)--*/
.intro{
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0;
}
.intro p{
    margin:0 1em 1.5em 1em;
}

.intro__button {
    text-decoration: none;
    color:white;
    background-color: rgb(255, 212, 120);
    padding:0.8em;
    border-radius: 1em;
}

.intro__button:hover{
    background-color: rgb(118, 188, 197);
}

.intro__button:active{
    background-color: rgb(63, 87, 90);
}

.intro img{
    margin:1.5em 0 0 0;
}


/*--Product Page--*/
.product{
    text-align: center;
    font-size: 1.5em;
}

.productContainer {
    display: flex;
    justify-content: space-evenly;
    flex-flow:row wrap;
    margin: 0 0 5em 0;
    
}

.productContainer__flex {
    flex-basis: 25%;
}

.productContainer__flex__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em 0;
}

.productContainer__flex__product button{
    background-color: rgb(118, 188, 197);
    padding:0.5em;
    color:white;
    font-size: 1.2em;
    border-radius: 15px;
    font-family: 'Irish Grover', cursive;
    border: dashed;
}

.productContainer__flex__product button:hover{
    background-color: rgb(63, 87, 90);
}


/*--Contact Page--*/
.contact__h1{
    margin:1rem;
}
.contact__p{
    margin:1rem;
}

.contact__form {
    margin:1rem;
}
.contact__form label{
    font-size: 2em;
    
}

.contact__form button{
    background-color: rgb(255, 212, 120);
    padding:0.5em;
    color:white;
    font-size: 1.2em;
    border-radius: 15px;
    font-family: 'Irish Grover', cursive;
    border: dashed;
}
.contact__form button:hover{
    background-color: rgb(118, 188, 197);
}

.contact__form button:active{
    background-color: rgb(63, 87, 90);
}

/*--Cart Page--*/
.cart__h1 {
    margin:1rem;
}

.cartContainer{
    display: flex;
    justify-content: space-evenly;
    flex-flow:row wrap;
    margin: 0 0 5em 0;
}

.cartContainer__flex {
    flex-basis: 100%;
}

.cartContainer__flex__product {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2em;
    margin: 1.5em 0;
}